@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    text-align: center;
    background-color: white;
}

body {
    margin: 0;
    background-color: white;
}

#app {
    height: 100vh;
    text-align: center;
}
